@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .border-glow {
    box-shadow: 0 0 15px rgba(0, 242, 254, 0.15);
  }
}

/* Custom Scrollbar for Terminal and Table containers */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #070B12;
}

::-webkit-scrollbar-thumb {
  background: #1E293B;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #00F2FE;
}
